@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Montserrat&display=swap');
body
{
    background-color: #f0fff0;
}

h1
{
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 100px;
    color: #283D3B;
}

p
{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #283D3B;
    margin-inline: 15px 15px;
}
.myButton {
	background-color:#197278;
	border-radius:41px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'DotGothic16', sans-serif;
	font-size:20px;
	margin-top: 20px;
	padding:18px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#283D3B;
}
.myButton:active {
	position:relative;
	top:1px;
}
